.container {
  position: relative;
  height: 100%;
  padding: 20px;
}

.backgroundContainer {
  width: 308px;
  height: 168px;
  margin-top: -11px;
}

.rectangle {
  position: absolute;
  right: 0;
  top: 50%;

  height: 8px;
  width: 100%;

  background-color: white;
  background: #ebd8ff;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.06),
    inset 0px -1.71846px 3.43693px #ae7be3, inset 0px 3.43693px 2.5777px #fbf8ff;
}

.circle {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);

  width: 80px;
  height: 80px;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background: #ebd8ff;
  box-shadow: 0px 4.39163px 4.39163px rgba(0, 0, 0, 0.06),
    inset 0px -2.19582px 4.39163px #ae7be3,
    inset 0px 4.39163px 3.29372px #fbf8ff;
  border-radius: 50%;
}

.avatar {
  width: 62px;
  height: 62px;

  object-fit: cover;
  border-radius: 50%;
}

.listInfo {
  margin-top: 88px;
}
.listItem:last-child {
  margin-top: 16px;
}

.infoText {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;

  color: #ebd8ff;
}

.button {
  display: block;
  width: 196px;
  margin: 0 auto;
  margin-top: 26px;
  padding: 14px 28px;

  background: #ebd8ff;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
  border-radius: 10.3108px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;

  text-transform: uppercase;
  text-align: center;

  color: #373737;

  cursor: pointer;

  transition-property: background-color;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button:is(:hover) {
  background-color: #5cd3a8;
}

.button:disabled {
  opacity: 0.9;
}

.buttonActive {
  background-color: #5cd3a8;
}
